body {
  margin-inline: 2rem;
  margin-top: 3rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header button {
  background-color: #ffdf7f;
  border-radius: 64px;
  font-weight: 550;
  color: #732104;
  border: 0;
}

.containerBtn {
  padding: 2rem;
  background-color: #fef7e2;
  border-radius: 85px;
}

.downBtn button {
  font-size: 1.1rem;
  padding: 1rem;
  margin-block: 1rem;
}

.buttonsFirstTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.buttonsSecondTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.buttonsFirstTwo button {
  width: 160px;
}
.buttonsSecondTwo button {
  width: 160px;
}

#shopBtn img {
  width: 20%;
}

#shopBtn {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.9rem;
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  line-height: 112%;
  color: #732104;
}

.cards img {
  width: 100%;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
}
.cards {
  border-radius: 55px;
  background-color: #fef7e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1.5rem;
}

.cards button {
  background-color: #ffdf7f;
  border-radius: 64px;
  font-weight: 550;
  color: #732104;
  width: 54%;
  margin: 1rem;
  border: 0;
  padding: 1rem;
  font-size: 1rem;
}

.cardText {
  display: flex;
  justify-content: center;
  gap: 6rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #6e1b05;
  margin-top: 1rem;
}
.cardText span {
  font-size: 1.3rem;
  font-weight: 500;
}
.cardText p {
  text-align: center;
}
#number {
  font-size: 1.2rem;
  vertical-align: bottom;
}

section img {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.9rem;
  font-family: "Poppins", sans-serif;
  line-height: 112%;
  color: #732104;
}

h3 {
  margin: 0;
  text-align: left;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  line-height: 112%;
  color: #732104;
}

.sectionContainer {
  background-color: #fef7e2;
  padding: 1.2rem;
  border-radius: 28px;
}
.sectionContainer p {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #732104;
}
